nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

body {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

main {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

main img {
    width: 250px;
    height: auto;
    border: 2px solid rgb(147, 146, 146);
    padding: 2px;
    box-shadow: 0 0 30px rgb(49, 49, 49);
    display: block;
    margin: 0 auto;
}

p {
    padding: 0;
}

aside {
    width: 600px;
    margin: 0 auto;
    border: 2px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: bisque;
    color: black;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 16px;
    border-top: 3px solid black;
    text-align: center;
}